html {
 height: 100%;
 min-height: 100%;
}

body {
  background-image: url("../images/trail.jpg"); 
  background-repeat: no-repeat; 
  background-position: top center;
  background-attachment: fixed;       
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  min-height: 100%;
  width: 100%;
  margin: 0;
}

#header, #settings {
  background-color: rgba(255,255,255,0.3);
  width: 100%;
}

#title, #settingsButton {
  display: inline-block;
  padding: 1em 0.5em;
  font-size: 1.25em;
}

#city {
  padding: 0.5em;
}

#settingsButton {
  position: absolute;
  right: 0;
  text-align: right;
}

#settingsButton:hover {
  cursor: pointer;
}

#settings {
  display: none;
  text-align: right;
}

#settingsList {
  padding: 0 0.5em;
  list-style: none;
  font-size: 1.25em;
}

#settingsList li {
  padding: 0.25em 0;
}

#container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}

input, select, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  border: 0px;
  background-color: rgba(255,255,255,0.3);
  margin: 0.25em 0;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  white-space: normal;
}

div {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

a {
  color: #000000;
  text-decoration: none;
}

#enterLocationView, #mainView, #editRulesView {
  display: none;
}

#enterLocationView {
  white-space: nowrap;
}

#zipCode {
  display: inline;
  width: 40%;
}

#setLocation {
  display: inline;
  width: 60%;
}

#weather, #enterLocationView {
  text-align: center;
  margin: 2em 0;
}

#clothes, #time {
  margin: 1em 0;
  width: 100%;
}

#temp {
  margin: 0.25em;
  font-size: 3em;
}

#cond, #wind {
  display: inline;
  margin: 0 1em;
  font-size: 1.5em;
}

ul {
  margin: 0;
}

#thermometer {
  height: 1em;
  background: linear-gradient(to right, rgba(0,0,255,0.5), rgba(255,0,0,0.5));
}

.clothingBar {
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}

.itemName, .itemMinFeel, .itemMaxFeel {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 0.2em;
  padding: 0.25em;
}

#addRule {
  margin: 0.5em 0;
}
