html {
 height: 100%;
 min-height: 100%;
}

body {
  background-image: url("../images/trail.jpg"); 
  background-repeat: no-repeat; 
  background-position: top center;
  background-attachment: fixed;       
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  min-height: 100%;
  width: 100%;
  margin: 0;
}

#container {
  position: relative;
  top: 2em;
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  max-width: 400px;
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgba(255,255,255,0.3);
}

input, select, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  border: 0px;
  background-color: rgba(255,255,255,0.3);
  margin: 0.25em 0;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
}

div {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

a {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

#location {
  text-align: center;
  font-size: 2em;
  display: none;
  margin-bottom: 0.25em;
}

#zipCode {
  display: inline;
  width: 40%;
}

#setLocation {
  display: inline;
  width: 60%;
}

#time {
  display: none;
  width: 100%;
}

#weather {
  text-align: center;
  margin: 1em 0;
  display: none;
}

#clothes {
  display: none;
}

#cond, #temp, #wind {
  display: inline;
  margin: 0.5em;
  font-size: 2em;
}

ul {
  margin: 0;
}

#thermometer {
  display: none;
  height: 1em;
  background: linear-gradient(to right, rgba(0,0,255,0.5), rgba(255,0,0,0.5));
}

.clothingRule {
  display: block;
}

.clothingBar {
  display: block;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}

.itemName, .itemMinFeel, .itemMaxFeel {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 0.2em;
  padding: 0.25em;
}
