#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px;
  width: 90%;
  max-width: 400px;
}

input, select, button {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin: 0.25em 0;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
